* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto";
  margin: 1rem 0;
  font-size: 4.6rem;
}
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
h4 {
  font-family: "Roboto";
  letter-spacing: 0.6px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
button {
  color: white;
  background-color: black;
  padding: 1rem 2.4rem;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.rad {
  font-family: "Rock Salt", cursive;
  border: 2px solid black;
  padding: 0 0.3rem 0 0.6rem;
  margin-right: 0.1rem;
}
.a {
  font-family: inherit;
  position: absolute;
  transform: translate(2px, -2px);
}
/* /////////////////////////////////////////////////////////////// */
/*   HEADER   */
header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 69;
  box-shadow: 2px 2px 8px rgba(78, 78, 78, 0.418);
}
.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
}

header nav {
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
}
.main-nav {
  gap: 2rem;
}

.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.header-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.header-link:hover::after {
  transform: scaleX(1.1);
}
.header-link:nth-child(1) {
  margin-left: 0;
}
header .logo {
  position: absolute;
  left: 45%;
  top: 0.8rem;
  font-size: 1.2rem;
}

.cart-qty {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.ph-shopping-cart-bold {
  font-size: 1.6rem;
  padding-right: 0.2rem;
  margin-left: 2rem;
}

/* ////////////////////////////////////////////////////////// */
/* FOOTER */
footer {
  background-color: rgb(10, 10, 10);
}
.footer-wrapper {
  font-family: "Raleway";
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.6fr;
  position: relative;
  font-size: 1rem;
  padding: 1rem 8rem 6rem 8rem;
  max-width: 90rem;
  margin: 0 auto;
}
.footer-link {
  transition: all 0.2s ease;
}
.footer-link:hover {
  color: #ff8811;
}
footer .logo {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
footer .rad {
  border: 2px solid white;
  padding: 0 0.4rem 0 0.8rem;
}
footer .a {
  transform: translate(2px, -3px);
}
.column {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.column-logo {
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.footer-img {
  margin-top: 4rem;
  width: 100%;
  /* Fix for gap -- look into this later */
  margin-bottom: -4px;
}
.icons {
  font-size: 2.6rem;
}
.icons i {
  transition: all 0.3s ease;
}
.icons i:hover {
  color: #ff8811;
  cursor: pointer;
  transform: translateY(-2px);
}
