@media (max-width: 98em) {
  .section--featured {
    max-width: 90%;
  }
  .featured-product-name {
    font-size: 1.1rem;
  }
  .slider {
    max-width: 95%;
  }
}

@media (max-width: 73em) {
  html {
    font-size: 80%;
  }
  .section--hero {
    margin-top: 56.31px;
  }
}

@media (max-width: 61em) {
  /* 1. Switch to Mobile NAV */

  /* Collections */
  .collections {
    grid-template-columns: 1fr 1fr;
  }
  /* Brands */
  .trek,
  .kona {
    height: 2.6rem;
  }
  .giant {
    height: 2rem;
    padding-bottom: 0;
  }
  .specialized {
    height: 10rem;
  }
  .fox {
    height: 6rem;
  }
  /* Slider */

  .slider {
    height: 55rem;
  }
  .slide {
    width: auto;
  }
  .slider__btn {
    top: 45%;
  }

  /* CTA */
  .section--cta {
    margin-left: 2rem;
  }
  .section--featured {
    margin-bottom: 2rem;
  }
  .cta {
    grid-template-columns: 1.1fr 1fr;
    margin: 0;
  }

  /* Footer */
  .footer-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
  }
}

@media (max-width: 48rem) {
  /*  Hero */
  .hero-img {
    object-position: 75% 0%;
  }
  .hero-header {
    font-size: 4rem;
  }
  .hero-text {
    padding: 0 4rem;
    width: 100%;
    top: 55%;
    left: 0;
    text-align: center;
  }
  /* Brands */
  .brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .fox {
    grid-column: 1 / 3;
    height: 7rem;
    margin-bottom: 0.6rem;
  }
  .giant,
  .kona {
    margin: 4rem 0;
  }
  /* CTA */
  .cta {
    display: block;
  }
  .section--cta {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .cta-form {
    padding: 3rem 5rem 6rem 5rem;
  }
  .cta-input--email {
    width: 100%;
  }
  /* Footer */
  footer {
    background-position: 50% 0%;
    height: max-content;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
  }
  .column {
    gap: 0;
  }
  .column-wrapper {
    border-bottom: 1px solid white;
  }
  .column-wrapper .column {
    height: 0;
    visibility: hidden;
  }
  .column-wrapper .column.column--open {
    height: auto;
    visibility: visible;
  }
  .footer-mobile-btn {
    padding: 1rem 0;
    margin-bottom: 0.6rem;
    width: 100%;
    display: flex;
    position: relative;
  }
  .footer-mobile-btn:hover,
  .footer-mobile-btn:active {
    cursor: pointer;
    color: #ff8811;
  }
  .mobile-btn-icon {
    align-self: center;
    position: absolute;
    right: 0.6rem;
    display: inline-flex;
    transform: rotate(0);
    transition: transform 0.3s ease;
  }
  .mobile-btn-icon--closed {
    transform: rotate(90deg);
  }
  .column-logo {
    margin-top: 4rem;
  }
  .column li {
    padding-bottom: 1.4rem;
  }
}
@media (max-width: 41em) {
  .hero-header {
    font-size: 3rem;
  }
  .hero-text {
    padding: 0 8rem;
  }
  .slider {
    height: 47rem;
  }
}
