/* ///////////////////////////////////////////////////////////// */
/* HERO */
.section--hero {
  display: flex;
  position: relative;
}
.hero-img {
  width: 100%;
  min-height: 40rem;
  height: calc(100vh - 70.39px);

  object-fit: cover;
  object-position: 20% 20%;
}
.hero-text {
  color: white;
  width: 30rem;
  position: absolute;
  top: 28%;
  left: 13%;
}

.hero-header {
  font-family: "Josefin Sans", sans-serif;
}
.hero-btn {
  background-color: transparent;
  border: 1px solid #ff8811;
  color: #ff8811;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 1.4rem;
  margin-left: 0.6rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.1s ease;
}
.hero-btn:hover,
.hero-btn:active {
  color: white;
  background-color: #ff8811;
  border: 1px solid transparent;
}
/* ///////////////////////////////////////////////////////////// */
/* BRANDS */
.section--brands {
  opacity: 0.3;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8rem;
  transform: translateY(-2rem);
}
.trek,
.giant,
.specialized,
.fox,
.kona {
  height: 3rem;
}
.giant {
  height: 2.2rem;
  padding-bottom: 0.2rem;
}
.specialized {
  padding-top: 0.6rem;
  height: 12rem;
}
.fox {
  height: 8rem;
  padding-top: 1rem;
}
/* ///////////////////////////////////////////////////////////// */
/* PRODUCTS */
.section--products {
  margin: 8rem auto 0 auto;
  max-width: 90rem;
}
.products-header {
  margin-bottom: 2.6rem;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1rem;
  margin: 0 1rem;
}
.product {
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 1.8rem;
}

.product:hover {
  cursor: pointer;
}
.product img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}
.product:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.609);
  opacity: 0;
  transition: all 0.3s;
}
.product:hover:after {
  opacity: 1;
}
.product:before {
  width: calc(25% - 5rem);
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(name);
  color: white;
  z-index: 2;
  top: 33%;
  left: 49.5%;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
  transform: translateY(4rem);
  transition: all 0.3s;
}
.product:hover:before {
  transform: translateY(0);
  opacity: 1;
}
/* ////////////////////////////////////////////////////////// */
/* Featured */

.section--featured {
  position: relative;
  max-width: 90rem;
  margin: 4rem auto 16rem auto;
}
.slider {
  height: 34rem;
  max-width: 86rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 33.33%;
  height: 100%;
  padding: 1.4rem;
  transition: transform 1s ease;
}
.featured-product {
  background-color: #f1f1f1;
  padding: 4rem 1.4rem 4rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.featured-header {
  margin-bottom: 2.6rem;
}
.featured-product > img {
  margin-top: 0;
  max-width: 100%;
  object-fit: cover;
}
.featured-product > img:hover {
  cursor: pointer;
}
.featured-product button {
  margin: 1.6rem 0;
  font-weight: 700;
}
.featured-product-name {
  text-transform: uppercase;
  margin: 1.4rem 0 0.6rem 0;
}
.featured-product-price {
  font-size: 1.1rem;
  color: rgb(93, 93, 93);
}
.featured-product-link {
  font-size: 0.9rem;
  font-family: "raleway";
  border-bottom: 1px solid black;
  font-weight: 400;
}

.slider__btn {
  position: absolute;
  top: 50%;
  color: rgb(155, 155, 155);
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn.slider__btn--usable {
  color: black;
}
.slider__btn--left {
  left: 0%;
}
.slider__btn--right {
  right: 0%;
}

/* ///////////////////////////////////////////////////////////// */
/* CTA */
.section--cta {
  margin-left: 8rem;
}
.cta {
  margin: 20rem auto 16rem auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  max-width: 90rem;
}
.cta-images {
  position: relative;
  /* border: 1px solid red; */
}
.cta-image {
  width: 60%;
  position: absolute;
  left: 11%;
  top: -18%;
  /* display: none; */
}
.cta-image-side {
  width: 60%;
  position: absolute;
  /* display: none; */
  /* z-index: 2; */
  right: 10%;
  top: 40%;
}
.cta-background {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  top: -35%;
  left: 0%;
  z-index: -1;
  transform: rotate(-20deg);
}
.cta-form {
  padding: 4rem 8rem 4rem 4rem;
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
  font-family: "raleway";
}
.cta-form button {
  align-self: flex-start;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
}
.cta-subheader {
  color: #ff8811;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0.6rem;
}
.cta-header {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}
.cta-text {
  margin-bottom: 1rem;
}
.cta-input--email {
  width: 80%;
  color: rgb(42, 42, 42);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "roboto";
  padding: 0.2rem;
  outline: none;
  border: none;
  /* box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.137); */
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
